{% extends 'base.html.twig' %}

{% form_theme form.cover 'AlbumBundle:Album:form/cover_widget.html.twig' %}
{% form_theme form.family 'AlbumBundle:Album:form/family_widget.html.twig' %}

{% block body %}
    <div class="content" style="margin-top: 20px;">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                {{ form_label(form.family) }}
            </div>
            <div class="col-lg-8">
                {{ form_errors(form.family) }}
                {{ form_widget(form.family) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                {{ form_label(form.cover) }}
            </div>
            <div class="col-lg-8">
                {{ form_errors(form.cover) }}
                {{ form_widget(form.cover) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}