{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/album/styles/main.css') }}" />
<link href="//fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Marcellus+SC|Just+Me+Again+Down+Here|Great+Vibes|Clicker+Script|Kaushan+Script&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/album/scripts/main.js') }}"></script>
{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form.first_name 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme form.cover 'AlbumBundle:Album:Form/cover_widget.html.twig' %}
{% form_theme form.family 'AlbumBundle:Album:Form/family_widget.html.twig' %}
{% form_theme form.font 'AlbumBundle:Album:Form/font_widget.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 20px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Formularz zamówienia wzoru albumu</h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row" id="album-family">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ form_label(form.family) }}</div>
                    <div class="panel-body text-center">
                        {{ form_errors(form.family) }}
                        {{ form_widget(form.family) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="album-cover">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ form_label(form.cover) }}</div>
                    <div class="panel-body">
                        {# Family desciption #}
                        <div style="margin: 0 auto 40px auto; text-align: center;">
                            <img src="/bundles/album/images/albums/1/promo.jpg" />
                            <p style="margin-top: 10px;">
                                Piękna i elegancka linia albumów.
                                Oryginalny styl nadaje im wtopiony w okładkę
                                materiał imitujący szkło na ktrórym znajduje się grawer.
                                Kolor kart - Czarny
                            </p>
                        </div>
                        {{ form_errors(form.cover) }}
                        {{ form_widget(form.cover) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="album-font">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ form_label(form.font) }}</div>
                    <div class="panel-body">
                        {{ form_errors(form.font) }}
                        {{ form_widget(form.font) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><label>Pozostałe informacje</label></div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                {{ form_label(form.first_name) }}
                                <div class="col-sm-8">
                                    {{ form_widget(form.first_name) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                {{ form_label(form.last_name) }}
                                <div class="col-sm-8">
                                    {{ form_widget(form.last_name) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">{{ form_widget(form.save) }}</div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}